@import "../../styles/globals.scss";

.button {
  @include text;
  height: 39px;
  width: 167px;
  border: none;
  background-color: $primary-color;
  color: $secondary-color;
  transition: 0.6s;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}
