@import "../../styles/globals";

.form {
  &__button {
    width: 100%;
    @include text;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: $primary-color;
    height: 39px;
    transition: 0.9s;
    color: $secondary-color;
    margin-bottom: 39px;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      border-radius: 5px;
    }
    &:disabled {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid rgba($primary-color, 0.5);
    }
  }

  &__status {
    @include text;
    font-size: 16px;
    text-align: center;
    color: #efa990;
    opacity: 1;
  }
}
