/**FONTS**/
$font-title: "Karla", sans-serif;
$font-text: "Martel Sans", sans-serif;

/**COLORS**/
$primary-color: rgb(100, 98, 99);
$secondary-color: rgb(152, 80, 66);
$light: rgb(255, 255, 255);
$dark: rgb(87, 83, 84);

/**MIXINS**/
@mixin title {
  font-family: $font-title;
  font-size: 61.68px;
}
@mixin text {
  font-family: $font-text;
  font-size: 14.56px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.6px;
}
