.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero_content {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 49px;
}
.hero_image {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.content_title {
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  margin-bottom: 34px;
}
.content_text {
  max-width: 420px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin: 34px 0px;
}

@media (max-width: 768.9px) {
  .hero {
    flex-direction: column;
  }
  .hero_content {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 64px;
  }
}

@media (max-width: 425.9px) {
  .hero_content {
    margin-right: 15px;
    margin-left: 15px;
  }
  .content_title {
    font-size: 50px;
  }
}
