.hero {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(87, 83, 84, 0.8) 48.76%,
    rgba(87, 83, 84, 0) 100%
  );

  &__image {
    z-index: -999;
  }

  &__title {
    font-family: var(--font-title);
    font-size: 65px;
    color: white;
    margin-bottom: 15px;
  }

  &__text {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 29px;
    color: white;
  }
  &__control {
    height: 9px;
    width: 9px;
    border-radius: 100%;
    background-color: var(--tertiary-color);
    margin-bottom: 15px;
    &:first-child {
      background-color: var(--secondary-color);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
