@import "../../src/styles/globals.scss";

.hero {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(102, 85, 95, 0.8) 48.76%,
    rgba(87, 83, 84, 0) 100%
  );

  &__title {
    @include title;
    line-height: 67.85px;
    color: $light;
    padding-right: 24px;
    margin-bottom: 15px;
  }

  &__text {
    @include text;
    color: white;
    line-height: 26.21px;
    padding-right: 24px;
    margin-bottom: 24px;
  }
}

