.input {
  font-size: 18px;
  font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 39px;
  padding: 0px 24px;
  margin-bottom: 20px;
  border: 1px solid #11253e;
}
