@import "../../styles/globals";

.modal {
  &__header {
    border: none;
  }
  &__content,
  &__header,
  &__body {
    border-radius: 20px;
  }
  &__header,
  &__body {
    padding: 24px;
  }
  &__title {
    @include title;
    font-size: 27px;
  }
  &__text {
    @include text;
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
  &__footer {
    padding: 15px 0px;
    border-top: none;
  }
  &__button {
    @include text;
    font-size: 12px;
    font-weight: 400;
    border: none;
    background-color: $tertiary-color;
    height: 39px;
    width: 167px;
    transition: 0.9s;
    &:hover {
      background-color: $secondary-color;
      color: $tertiary-color;
      border-radius: 5px;
    }
    &:disabled {
      background-color: transparent;
      color: $secondary-color;
      border: 1px solid rgba($secondary-color, 0.5);
    }
  }
  &__button_close {
    background-color: transparent;
    &:hover {
      background-color: transparent;
      color: $secondary-color;
    }
  }
  &__status {
    @include text;
    font-size: 12px;
    text-align: center;
    color: $secondary-color;
    opacity: 1;
  }
}
