@import "../../styles/globals.scss";
.card {
  border: 0;
  border-radius: 0;
  margin-bottom: 39px;
  &__header {
    background-color: transparent;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  &__button {
    @include title;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 0;
    padding-bottom: 15px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    &:hover,
    &:focus,
    &:focus-within {
      box-shadow: none;
      color: $primary-color;
    }
  }
  &__body {
    @include text;
    margin-top: 39px;
    font-size: 18px;
    padding-left: 0px;
  }
}
